#resumingmodern {
    background-image: url("./Assetts/resume.png");
    background-size: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    border: 10px solid black;
    border-radius: 25px;
    margin-top: 20px;
}

#resumecontainermodern {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

#resumecardmodern {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(248, 40, 255); 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }

  #download {
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      border: solid white 3px;
  }