#resumingmodern {
    background-image: url("./Assetts/resume.png");
    background-size: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
    margin-top: 20px;
}

#resumecontainermodern {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

#resumecardmodern {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

  #download {
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      border: solid white 3px;
  }