.bookmain {
    background-image: url("../Assetts/bookreview.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.cardwrapmain {
    background: black;
    color: white;
    border: 1px solid white;
    margin-left: 3px;
    margin-right: 3px;
}

.cardtext {
    height: 70px;
}

#cardbordermain {
    border: 1px solid rgba(255, 255, 255, 0.856);
    box-shadow: 0px 0px 4px 4px rgba(164, 0, 179, 0.856);
 }

.budtraimgmain {
    background-image: url("../Assetts/BudTra.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.burgerhubmain {
    background-image: url("../Assetts/Burgerhub.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.myartmain {
    background-image: url("../Assetts/Myart.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.empdirimgmain {
    background-image: url("../Assetts/EmpDir.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.fittraimgmain {
    background-image: url("../Assetts/FitTra.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.metamain {
    background-image: url("../Assetts/meta.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.notesmain {
    background-image: url("../Assetts/Notespage.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.passwordmain {
    background-image: url("../Assetts/PasswordPreview.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.plannermain {
    background-image: url("../Assetts/PlannerPreview.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.survivemain {
    background-image: url("../Assetts/SurvivePreview.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.sellifymain {
    background-image: url("../Assetts/sellify.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.arcadeamain {
    background-image: url("../Assetts/arcade.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 0px;
}

.deployed {
    text-align: left;
    border: solid white 2px;
    border-radius: 25px;
    opacity: .5;
    margin: 5px;
    font-weight: 600;
    padding: 3px;
}

.github {
    text-align: right;
    border: solid white 2px;
    border-radius: 25px;
    opacity: .5;
    margin: 5px;
    font-weight: 600;
    padding: 3px;
}