.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mdl-layout__header-row {
  background-color:  rgb(25, 27, 39);
  position: fixed;
  top: 0;
  width: 100%;
}

html {
background-color: white;
  
}

h1 {
  text-align: center;

}



body, html {
  height:100%;}

body {
  overflow: hidden;}

.bodycard {
  height:100%; 
    overflow:hidden;
    margin-bottom: -25%;
}

.cardsall {
  margin-bottom: 25%;
}

.headercss {
  width: max-content;
  visibility: visible;

}

/* home page */

#landingpagewrap {
  margin-left: auto;
  margin-right: auto;
 
 }
 
 #lpiwclassic {
   width: 100%;
   display: flexbox;
   margin-left: auto;
   margin-right: auto;
   color: white;
   background-color: rgb(27, 27, 129);
   font-size: 30px;
   padding-top: 15px;
   font-family: 'Times New Roman', Times, serif;
   height: 30px;
 }

 #lpiwclassicinner {
  width: max-content;
   display: flexbox;
   margin-left: auto;
   margin-right: auto;
   color: white;
   background-color: rgb(27, 27, 129);
   height: 25px;
 }

#buttonwrap {
  width: 100%;
}

.viewexp {
color: black;
width: max-content;
margin-right: auto;
margin-left: auto;
margin-top: 5px;
}

 #mobileid {
border: solid 4px rgb(64, 91, 116);
background-color: rgb(255, 255, 255);
font-family: 'Noto Sans TC', sans-serif;
font-weight: 300;
opacity: 1;
border-radius: 15%;
width: 30px;
height: 45px;
font-size: medium;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
 }

#mobilewrap {
  margin-left: auto;
  margin-right: auto;
  min-width: 0%;
  width: max-content;
}

 #synthid {
  background-color: black;
  color: aqua;
  width: 100%;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
 }

 #modernid {
border: solid 2px black;
margin-top: 5px;
border-radius: 25px;
background-repeat: round;
opacity: .9;
color: rgb(255, 255, 255);
font-weight: 1100;
background-color:rgb(0, 85, 241);
font-family: 'Noto Sans TC', sans-serif;
height: 100%;
font-size: small;
margin-left: auto;
margin-right: auto; 
}
 
 #classicid {
background-color: white;
color: black;
font-family: 'Times New Roman', Times, serif;
opacity: 1;
border-radius: 0; 
}

 #retroid {
border: solid chartreuse 2px;
background-color: black;
color: chartreuse;
opacity: 1;
 }
 
 #cyveclassic {
  color: black;
   font-size: x-large;
   font-family: 'Times New Roman', Times, serif;
   height: max-content;
   margin-top: 1px;
   margin-bottom: 1px;
 }

#megawrapclassic {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  color: black;
}

.links {
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

.linksclassic {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  color: none;
  margin-top: -20px;
}

#webbarinclassic {
  width: max-content;
  background-color: rgb(117, 117, 117);
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  font-size: 40px;
}

#webbaroutclassic {
  width: 100%;
  background-color: rgb(117, 117, 117);
  height: 70px;
  font-size: 40px;
}

.linksclassic { 
  border-left: solid rgb(129, 129, 129) 2px;
  margin: 5px;
}

#homeclassic {
background-image: url("../Assetts/homeicon.png");
height: 55px;
width: 50px;
}

#resumeclassic {
  background-image: url("../Assetts/resumeicon.png");
  height: 55px;
width: 50px;
}

#projectsclassic {
  background-image: url("../Assetts/portfolioicon.png");
  height: 55px;
width: 50px;
}

#contactclassic {
  background-image: url("../Assetts/contacticon.png");
  height: 55px;
width: 50px;
}

#aboutmeclassic {
  background-image: url("../Assetts/aboutmeicon.png");
  height: 55px;
width: 50px;

}