#contactcontainersynth {
    border:5px black solid;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: 1px solid rgba(255, 255, 255, 0.856);
    box-shadow: 0px 0px 4px 4px rgba(164, 0, 179, 0.856);
    border-radius: 25px;
    color: rgba(179, 0, 196, 0.856);
    background-color: black;
}

.contactsynthforms {
  color: black;
}

#landingpagewrapsynth {
  width: 100%;
  height: 100%;
  overflow:scroll;
  background-color: rgb(0, 0, 0);
  background-image: url("./Assetts/synthgif.gif");
  background-size: cover;
  color: turquoise;
}

#landingpagewrapsynth::-webkit-scrollbar {
  display: none;
}
  
  .glow {
    font-size: 80px;
    color: rgb(0, 0, 0);
    opacity: 1;
    background-color: black;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  div[role='alert'] {
    color: red;
    margin-top: 1em;
  }

  .message-chars-left {
    width: 600px;
    margin: auto;
    text-align: left;
  }

  #sent {
    text-align: center;
    font-size: x-large;
  }

.contactform {
  width: 500px;
  resize: none;
  margin-top: 3.3%;
  background-color: black;
  opacity: 0.85;
  margin-left: auto;
  margin-right: auto;
}

.contactformtext {
  max-width: 450px;
  color: turquoise;
  background-color: black;
}

.contactforminner {
  width: 470px;
  margin-left: auto;
  margin-right: auto;
}

#contactbox {
 width: 100%;
 font-size: 20px;
}

#comingsooncontact {
  background-image: url("../../Assetts/placeholder.png");
  width: 500px;
  height: 300px;
  background-repeat: cover;
  position: absolute;
  opacity: .7;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

#copybutton {
  color: turquoise;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.856);
  box-shadow: 0px 0px 4px 4px rgba(164, 0, 179, 0.856);
  border-radius: 25px;
  float: right;
  margin-top: 2px;
  font-size: 25px;
  width: 100%;
}

#contactp {
  line-height: 30px;
  padding: 0;
  margin: auto;
}

#linkedincontactportal {
  color: turquoise;
  background-color: black;
  border: none;
  font-size: 20px;
}

#copybuttons {
  display: inline;
}