.resuming {
    background-image: url("./Assetts/resume.png");
    background-size: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.856);
    box-shadow: 0px 0px 6px 6px rgba(164, 0, 179, 0.856);
    border-radius: 25px;
}

.resumecontainer {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.resumecard {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

  #downloadresume {
    border: 1px solid rgba(255, 255, 255, 0.856);
    box-shadow: 0px 0px 6px 6px rgba(164, 0, 179, 0.856);
    border-radius: 25px;
    width: 10%;
    margin-bottom: 1ch;
    margin-left: auto;
    margin-right: auto;
  }

  #downloadbutton {
    width: 200px;
    height: 30px;
    margin-bottom: 1ch;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(255, 255, 255, 0.856);
    box-shadow: 0px 0px 6px 6px rgba(164, 0, 179, 0.856);
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 20px;
  }