.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 25px;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .mdl-layout__header-row {
    background-color:  rgb(25, 27, 39);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  html {
  background-color: white;
    
  }
  
  h1 {
    text-align: center;
  
  }
  
  #aboutmemodernimp {
    background-color: rgb(23, 80, 129);
  }
  
  body, html {
    height:100%;}
  
  body {
    overflow: hidden;}
  
  .bodycard {
    height:100%; 
      overflow:hidden;
      margin-bottom: -25%;
  }
  
  .cardsall {
    margin-bottom: 25%;
    position: relative;;
  }
  
  #headercss {
    width: max-content;
    visibility: visible;
    position: absolute;
    z-index: 1;
    background-color: rgb(23, 80, 129);
  }
  
  /* home page */
  
  #landingpagewrap {
    margin-left: auto;
    margin-right: auto;
   
   }
   
   #lpiwmodern {
     width: 100%;
     display: flexbox;
     margin-left: auto;
     margin-right: auto;
     color: white;
     background-color: rgb(27, 27, 129);
     font-size: 30px;
     padding-top: 15px;
     font-family: 'Times New Roman', Times, serif;
     height: 30px;
   }
  
   #lpiwmoderninner {
    width: 100%;
     margin-left: auto;
     margin-right: auto;
     color: white;
     background-color: rgb(0, 0, 0);
     height: 205px;
     border-top: 8px solid rgb(27, 27, 129);
     border-bottom: 8px solid rgb(27, 27, 129);
     position: relative;
   }
  
  #buttonwrap {
    width: 100%;
    border: solid black 4px;
  }
  
  .viewexp {
  color: black;
  width: max-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  }
  
   #mobileid {
  border: solid 4px rgb(64, 91, 116);
  background-color: rgb(255, 255, 255);
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  opacity: 1;
  border-radius: 15%;
  width: 30px;
  height: 45px;
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
   }
  
  #mobilewrap {
    margin-left: auto;
    margin-right: auto;
    min-width: 0%;
    width: max-content;
  }
  
   #synthid {
    background-color: black;
    color: aqua;
    width: 100%;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
   }
  
   #modernid {
  border: solid 2px black;
  margin-top: 5px;
  border-radius: 25px;
  background-repeat: round;
  opacity: .9;
  color: rgb(255, 255, 255);
  font-weight: 1100;
  background-color:rgb(0, 85, 241);
  font-family: 'Noto Sans TC', sans-serif;
  height: 100%;
  font-size: small;
  margin-left: auto;
  margin-right: auto; 
  }
   
   #modernid {
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  opacity: 1;
  border-radius: 0; 
  }
  
   #retroid {
  border: solid chartreuse 2px;
  background-color: black;
  color: chartreuse;
  opacity: 1;
   }
   
   #themecardallwrap {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

#navbarwrapmain {
  position: relative;
}

   #cyve {
    color: rgb(255, 255, 255);
     font-size: x-large;
     height: max-content;
     margin-top: 1px;
     margin-bottom: 1px;
     background-color:rgb(27, 27, 129);
    font-family: sans-serif;
     width: 303px;
     margin-left: auto;
     margin-right: auto;
   }
  
  #megawrapmodern {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 0, 0);
    overflow: hidden;
    color: black;
  }
  
  .links {
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .linksmodern {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    color: none;
    margin-top: -20px;
  }
  
  #webbarin {
    width: max-content;
    background-color: rgb(117, 117, 117);
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    font-size: 40px;
  }
  
  #webbarout {
    width: 100%;
    background-color: rgb(117, 117, 117);
    height: 70px;
    font-size: 40px;
  }
  
  .linksmodern { 
    border-left: solid rgb(129, 129, 129) 2px;
    margin: 5px;
  }
  
  #homemodern {
  background-image: url("../Assetts/homeicon.png");
  height: 55px;
  width: 50px;
  }
  
  #resumemodern {
    background-image: url("../Assetts/resumeicon.png");
    height: 55px;
  width: 50px;
  }
  
  #projectsmodern {
    background-image: url("../Assetts/portfolioicon.png");
    height: 55px;
  width: 50px;
  }
  
  #contactmodern {
    background-image: url("../Assetts/contacticon.png");
    height: 55px;
  width: 50px;
  }
  
  #aboutmemodern {
    background-image: url("../Assetts/aboutmeicon.png");
    height: 55px;
  width: 50px;
  }

  #megawrapmodern {
    background-color: #f6fdff;
    width: 100%;
    height: 100%;
    overflow:scroll;
  
  }

#resumecardmodern {
  background-color: rgb(23, 80, 129);
}

#skillsmainwrapmodern {
  width: 440px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  }
  
  #skillsmainmodern {
    width: 455px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    background-image: url("./components/Assetts/placeholder.png");
  color: white;
  height: 440px
  }
  

