#themecardwrap {
    border: solid 2px aliceblue;
    background-color: aliceblue;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#innerthemecardwrap {
    border: solid 2px aliceblue;
width: min-content;
margin-left: auto;
margin-right: auto;
position: static;
}

#themepicclassic {
    border: solid 2px none;
    width: 290px;
    height: 130px;
    background-image: url("../Assetts/classichomepreview.JPG");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#themepicsynth {
    border: solid 2px none;
    width: 290px;
    height: 130px;
    background-image: url("../Assetts/synthhomepreview.JPG");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#themepicmobile {
    border: solid 2px none;
    width: 290px;
    height: 130px;
    background-image: url("../Assetts/placeholder.png");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#themepicretro {
    border: solid 2px none;
    width: 290px;
    height: 130px;
    background-image: url("../Assetts/retrohomepreview.JPG");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#themepicmodern {
    border: solid 2px none;
    width: 290px;
    height: 130px;
    background-image: url("../Assetts/placeholder.png");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#themebutton {
    border: solid 2px aliceblue;
    width: 286px;
}

#allwrapmoderntheme {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    overflow: auto;
    direction:rtl;
    margin-top: -1px;
    background-color: aliceblue;
    margin-top: 30px;
    margin-bottom: 2px;
    
}

#allwrapmodernthemeouter {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 100%;
    overflow: auto;
    direction:rtl;
    margin-top: -1px;
    background-color: aliceblue;
    margin-top: 30px;
    margin-bottom: 2px;

}

#themeblockmodern {
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}


