#themecardwrap {
    border: solid 2px black;
    background-color: black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#innerthemecardwrap {
    border: solid 2px black;
width: min-content;
margin-left: auto;
margin-right: auto;
}

#themepicclassic {
    border: solid 2px none;
    width: 290px;
    height: 130px;
    background-image: url("../Assetts/classichomepreview.JPG");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#themepicsynth {
    border: solid 2px none;
    width: 290px;
    height: 130px;
    background-image: url("../Assetts/synthhomepreview.JPG");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#themepicmobile {
    border: solid 2px none;
    width: 290px;
    height: 130px;
    background-image: url("../Assetts/placeholder.png");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#themepicretro {
    border: solid 2px none;
    width: 290px;
    height: 130px;
    background-image: url("../Assetts/retrohomepreview.JPG");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#themepicmodern {
    border: solid 2px none;
    width: 290px;
    height: 130px;
    background-image: url("../Assetts/modernhomepreview.JPG");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#themebutton {
    border: solid 2px black;
    width: 286px;
}

#themecardallwrap {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
