#allwrapskillsclassic {
width: 100%;
color: black;
background-color: aqua;
}

#skilljavascript{
background-image: url("../../Assetts/skilljavascriptimg.jpg");
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 100%;
}

#skillcss {
    background-image: url("../../Assetts/skilljavascriptimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#skillreact {
    background-image: url("../../Assetts/skilljavascriptimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#skillhtml {
    background-image: url("../../Assetts/skilljavascriptimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#skillgithub {
    background-image: url("../../Assetts/skilljavascriptimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#skillmongodb {
    background-image: url("../../Assetts/skilljavascriptimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#skillexpress {
    background-image: url("../../Assetts/skilljavascriptimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#skillnode {
    background-image: url("../../Assetts/skilljavascriptimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
/* 
<CardTitle style={{height: '500px'}}><img alt="" id="skilljavascript"></img></CardTitle>
<CardTitle style={{height: '500px'}}><img alt="" id="skillcss"></img></CardTitle>
<CardTitle style={{height: '500px'}}><img alt="" id="skillreact"></img></CardTitle>
<CardTitle style={{height: '500px'}}><img alt="" id="skillhtml"></img></CardTitle>
<CardTitle style={{height: '500px'}}><img alt="" id="skillgithub"></img></CardTitle>
<CardTitle style={{height: '500px'}}><img alt="" id="skillmongodb"></img></CardTitle>
<CardTitle style={{height: '500px'}}><img alt="" id="skillexpress"></img></CardTitle>
<CardTitle style={{height: '500px'}}><img alt="" id="skillnode"></img></CardTitle> */