#headshotmobile {
  background-image: url("./Assetts/biohead.png");
  max-width: 100%;
  max-height: 100%;
  height: 812px;
  width: 375px;
  border-radius: 0%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
}

  #aboutmewrapmobile {
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;
    background-color: teal;
    color: white;
    height: auto;
  }

#paramobile {
  margin: 5px;
  margin-top: 18px;
  font-size: 15px;
  color: white;
  font-size: 20px;
  text-align: justify;
  overflow: scroll;
  width: 97%;
  height: 97%;
}

#abtme {
  visibility: visible;
  color: black;
  font-size: 75px;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  text-align: center;
}

#skillswrapmainclassic {
  width: 90%;
  height: auto;
  }
  
  #skillsmainclassic {
    width: 455px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
  color: white;
  background-color: none;
  }

#skilljs {
  background-image: url("../../Assetts/skilljavascriptimg.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 5px black;
  background-color: white;
  margin-left: -5px;
}

#skillcss {
  background-image: url("../../Assetts/skillcssimg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 5px black;
  background-color: white;
  margin-left: -5px;
}

#skillexpress {
  background-image: url("../../Assetts/skillexpressimg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 5px black;
  background-color: white;
  margin-left: -5px;
}

#skillbootstrap {
  background-image: url("../../Assetts/skillbootstrapimg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 5px black;
  background-color: white;
  margin-left: -5px;
}

#skillgitbash {
  background-image: url("../../Assetts/skillgitbashimg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 5px black;
  background-color: white;
  margin-left: -5px;
}

#skillgithub {
  background-image: url("../../Assetts/skillgithubimg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 5px black;
  background-color: white;
  margin-left: -5px;
}

#skillheroku {
  background-image: url("../../Assetts/skillherokuimg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 5px black;
  background-color: white;
  margin-left: -5px;
}

#skillpostman {
  background-image: url("../../Assetts/skillpostmanimg.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 5px black;
  background-color: white;
  margin-left: -5px;
}

#skillreact {
  background-image: url("../../Assetts/skillreactimg.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 5px black;
  background-color: white;
  margin-left: -5px;
}

#skillnode {
  background-image: url("../../Assetts/skillnodeimg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 5px black;
  background-color: white;
  margin-left: -5px;
}

#skillmongodb {
  background-image: url("../../Assetts/skillmongodbimg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 5px black;
  background-color: white;
  margin-left: -5px;
}

#skillvscode {
  background-image: url("../../Assetts/skillvisualstudiocodeimg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 5px black;
  background-color: white;
  margin-left: -5px;
}

#skillmysql {
  background-image: url("../../Assetts/skillmysqlimg.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  border: solid 5px black;
  background-color: white;
  margin-left: -5px;
}


/* #skill {
  background-image: url("../../Assetts/skill");
  width: 100px;
  height: 100px;
  background-size: cover;
} */

  #skillcon {
    width: 100%;
    height: 100%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: none;
    margin-top: auto;
    color: rgb(27, 27, 129);
    font-size: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  }

  #skillblock {
width: 100%;
height: 100%;
display: grid;
grid-template-columns: auto auto auto;
gap: 10px;
  }