.resumingclassic {
    background-image: url("./Assetts/resume.png");
    background-size: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.856);
}

.resumecontainerclassic {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    height: auto;
}

.resumecardclassic {
    width: auto;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

  #download {
      width: 100px;
      height: 100px;
      margin-left: auto;
      margin-right: auto;
      border: solid white 3px;
  }

  #megawrapclassic {
    width: 100%;
    height: 100%;
    background-color: rgb(119, 119, 119);
    overflow:scroll;
    color: black;
  }