.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mdl-layout__header-row {
  background-color:  rgb(0, 0, 0);
  position: fixed;
  top: 0;
  width: 100%;
}

.foot {
  background-color: rgb(49, 85, 58);
  font-size: 20px;
  height: 20px;
  text-align: center;
}

html {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  height:100%;
}

h1 {
  text-align: center;

}

body, html {
  height:100%;}

body {
  overflow: hidden;}

.bodycard {
  height:100%; 
    overflow:hidden;
    margin-bottom: -25%;
}

.cardsall {
  margin-bottom: 25%;
}

.headercss {
  width: max-content;
  visibility: visible;

}
