.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
background-color: white;
  
}

h1 {
  text-align: center;

}

/* wrap for entire mobile page */
#megawrapmobile {
  width: 100%;
  margin-left: auto;
  background-color: teal;
  margin-right: auto;
  overflow: scroll;
}

body, html {
  height:100%;}
  

body {
  overflow: hidden;}

  /* outer navbar box */
  #navbarmobile {
    background-color: teal;
    width: 100%;
    color: white;
    font-size: 30px;
    height: 50px;
    position: fixed;
    text-align: center;
  }

  /* inner navbar box */
  #navbarwrapmobile {
    color: white;
    font-style: none;
    font-size: xx-large;
    width: 50%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 5%;
    font-style: none;
  }

/* navbar link */
#homemobilelink {
color: white;
text-decoration: none;
}

/* about me section */

#biocardmobile{
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  background-color: teal;
}