.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
background-color: white;
  
}

h1 {
  text-align: center;

}

/* wrap for entire mobile page */
#megawrapmobile {
  width: 100%;
  margin-left: auto;
  background-color: rgb(13, 53, 99);
  margin-right: auto;
  overflow: scroll;
  height: 100%;
}

#megawrapmobile::-webkit-scrollbar {
  display: none;
}

body, html {
  height:100%;}
  

body {
  overflow: hidden;}

  /* outer navbar box */
  #navbarmobile {
    background-color: rgb(13, 53, 99);
    width: 100%;
    color: white;
    font-size: 60px;
    height: 50px;
    position: relative;
    text-align: center;
  }

  /* inner navbar box */
  #navbarwrapmobile {
    color: white;
    font-style: none;
    font-size: xx-large;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 5%;
    font-style: none;
    background-color: rgb(13, 53, 99);
  }

/* navbar link */
#homemobilelink {
color: white;
text-decoration: none;
}

/* about me section */

#biocardmobile{
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  background-color: rgb(13, 53, 99);
  color: white;
}

#headshotmobile {
  background-image: url("./components/Assetts/biohead.png");
  max-width: 100%;
  max-height: 100%;
  height: 600px;
  width: 375px;
  border-radius: 0%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  overflow: auto;
  position: relative;
}

/* skills */

  #skillblockmobile {
    width: 100%;
    height: 100%;
    max-width: 375px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #skillsmainmobile {
    width: 755px;
    margin-left: auto;
    margin-right: auto;
    color: white;
  height: auto;
  gap: 10px;
  }

  #skillstitle {
    color: white;
    line-height: 1;
    max-width: 375px;
    width: 100%;
    background-color: rgb(11, 63, 122);
    margin-left: auto;
    margin-right: auto;
  }

  #gluediv {
    background-color: rgb(13, 53, 99);
    margin-left: auto;
    margin-right: auto;
  }

  #resumemoboileimp {
    width: 100%;
    height: 100%;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }

  .resumingmobile {
    width: 100%;
    height: 100%;
    max-width: 375px;
  }

  #cardsallmobile {
    max-width: 375px;
    width: 100%;
  }

  #resumecontainermobile {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 375px;
  }